APP_MODE=DEV
APP_NAME=AI_SERVICE
APP_LOGGING_MODE=on
APP_ADMIN_EMAIL=admin@example.com
APP_ADMIN_PASSWORD=your_super_secret_password_here
HTTP_MODE=FALSE

AI_API_KEY=your_ai_api_key_here
AI_TEXT_MODEL=gpt-4o
AI_SPEECH_MODEL=whisper-1


